@font-face {
    font-family: 'n27_regular';
    src: url('../fonts/N27-Regular.otf');
}

@font-face {
    font-family: 'n27_italic';
    src: url('../fonts/N27-RegularItalic.otf');
}

@font-face {
    font-family: 'baguede';
    src: url('../fonts/BaguedeFree-Regular.otf')
}
@font-face {
    font-family: 'baguede_italic';
    src: url('../fonts/BaguedeFree-Italic.otf')
}