@import 'font_face.scss';


:root {
    --white: rgb(234, 234, 234);
    --black: #0F0F13;
    font-size: 18px;
    --regular: 'n27_regular';
    --italic: 'n27_italic';
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--regular);
}

body {
    background-color: var(--white);
}

#cursor {
    height: 2rem;
    width: 2rem;
    background-color: var(--black);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: background-color .25s ease-in;
}

.capsule {
    border: 1px var(--black) solid;
    padding: .5rem 2rem;
    border-radius: 50px;
}


/* -------------------------------------------------------------------------- */
/*                                    INDEX                                   */
/* -------------------------------------------------------------------------- */

.nav {
    color: var(--black);

    .nav_top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 1px var(--black) solid;
        min-height: 4rem;

        .brand {
            position: absolute;
            left: 0;
            top: 0;

            background-color: var(--black);
            color: var(--white);

            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all .25s ease-in;
            cursor: pointer;

            h2 {
                font-size: 1.2rem
            }

            &:hover {
                h2 {
                    background: -webkit-linear-gradient(99.23deg, #FF9A61 -6.24%, #FFD18C 51.76%, #FFDF8C 97.32%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                padding-left: 5rem;
            }
        }

        ul {
            display: flex;
            list-style: none;
            gap: 3rem;
            height: 4rem;

            li {
                transition: all .2s ease-in;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                cursor: pointer;
                height: 100%;

                padding-left: 1rem;
                padding-right: 1rem;


                a {
                    text-decoration: none;
                    color: var(--black)
                }

                &:hover {
                    background-color: var(--black);
                    color: var(--white);

                    a {
                        background: -webkit-linear-gradient(99.23deg, #FF9A61 -6.24%, #FFD18C 51.76%, #FFDF8C 97.32%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                }
            }
        }
    }

    .nav_bottom {
        min-height: 2.5rem;
        border-bottom: 1px var(--black) solid;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        .nav_separator {
            width: 1.2rem;
            background-color: var(--black);
            height: 2px;
        }

        &>div {
            transition: all .2s ease-in;
            font-size: .9rem;

            &:first-child {
                border-right: 1px var(--black) solid;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 2rem;
                padding-right: 2rem;

                .left {
                    display: flex;
                    gap: 1rem;
                    text-transform: uppercase;
                }

                #navbar_plus {
                    cursor: pointer;
                }
            }

            &:nth-child(2) {
                border-right: 1px var(--black) solid;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                text-transform: uppercase;
                font-size: .7rem;
            }

            &:nth-child(3) {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
    
}

.hero_wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;

    .welcome {
        align-self: center;
        margin-top: 5rem;

        position: relative;

        &:before {
            position: absolute;
            content: '';
            height: 5rem;
            width: 1px;
            background-color: var(--black);
            top: -5rem;
            left: 50%;
            transform: transalteX(-50%)
        }
    }

    h1 {
        gap: 2rem;
        font-size: 26vw;
        font-family: 'baguede';
        font-weight: 400;
        height: fit-content;
        position: relative;

        span {
            &:first-child {
                background: -webkit-linear-gradient(99.23deg, #FF9A61 -6.24%, #FFD18C 51.76%, #FFDF8C 97.32%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &:nth-child(2) {
                font-size: 11vw;
                position: absolute;
                top: 0;
                right: 10vw;
            }
        }
    }
}